app/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Napoleon CV</title>
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" initial-scale="1.0" maximum-scale="1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <!-- stylesheets-->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
        <header class="page-header">
          <div class="top-menu-block">
            <div class="content">
              <nav class="top-menu">
              </nav>
            </div>
          </div>
        </header>
    <div class="preloader">
      <div class="pr-anim"></div>
    </div>
    <!--
    .darkner
    
    --><img class="preload" src="img/1.jpg"><img class="preload" src="img/2.jpg"><img class="preload" src="img/3.jpg"><img class="preload" src="img/4.jpg">
    <div class="fixed-area"><a class="logo-link" href="#slide1"><img class="logo" src="img/logo-w.svg"><img class="logo logo-b" src="img/logo-b.svg"></a><a class="write-button" href="#slide5">Написать</a>
      <nav class="main-menu" id="menu">
        <ul class="main-menu__list">
          <li class="main-menu__item"><a class="main-menu__link ret" href="#slide2" data-menuanchor="slide2">Retail</a></li>
          <li class="main-menu__item"><a class="main-menu__link tra" href="#slide3" data-menuanchor="slide3">Transport</a></li>
          <li class="main-menu__item"><a class="main-menu__link man" href="#slide4" data-menuanchor="slide4">Manufacturing</a></li>
          <li class="main-menu__item"><a class="main-menu__link bc" href="#slide5" data-menuanchor="slide5">Ваш бизнес-кейс</a></li>
        </ul>
      </nav>
    </div>
    <div class="fullpage" id="fullpage">
      <div class="section screen-1" data-anchor="slide1">
        <!--.darkner
        --><img class="j-arrow" src="img/arrow.svg">
        <h1 class="big-title title wow fadeIn" data-wow-delay="2s">Мы ускоряем<br><span class="red"> бизнес-процессы</span><br> с&nbsp;помощью компьютерного<br> зрения</h1>
      </div>
      <div class="section screen-2" data-anchor="slide2">
        <!--.darkner
        -->
        <div class="block-text ret-text">
          <h2 class="common-title">Retail</h2>
          <p class="common-text first">
            Ускоряем
            <span class="red">в&nbsp;5&nbsp;раз</span>
            процессы контроля<br>выкладки товара
          </p>
          <p class="common-text second">
            Упрощаем
            <span class="red">проверку</span>
            актуальности цен
          </p>
        </div>
        <p class="keywords">
          Ключевые слова:
          <span>магазин / полка / товар / проверка</span>
        </p>
      </div>
      <div class="section screen-3" data-anchor="slide3">
        <!--.darkner
        -->
        <div class="block-text tr-text">
          <h2 class="common-title">Transport</h2>
          <p class="common-text first">
            Делаем полную
            <span class="red">автоматизацию</span>
             процессов<br> в&nbsp;транспортной отрасли
          </p>
          <p class="common-text second">
            Обнаруживаем
            <span class="red">Усталость</span>
            водителей
          </p>
        </div>
        <p class="keywords">
          Ключевые слова:
          <span>препятствие / поток / поезд / номер</span>
        </p>
      </div>
      <div class="section screen-4" data-anchor="slide4">
        <!--.darkner
        -->
        <div class="block-text man-text">
          <h2 class="common-title">Manufacturing</h2>
          <p class="common-text first">
            Выводим
            <span class="red">контроль</span>
             брака и&nbsp;промышленной<br> безопасности на&nbsp;новый уровень
          </p>
          <p class="common-text second"><span class="red">Автоматизируем</span>
             процессы контроля<br> отклонений в&nbsp;производстве
          </p>
        </div>
        <p class="keywords">
          Ключевые слова:
          <span>производство / безопасность / качество / нарушения</span>
        </p>
      </div>
      <div class="section screen-5" data-anchor="slide5">
        <div class="form-block">
          <h2 class="title form-title">Расскажите нам<br class="mobshow"> о&nbsp;своём<br> бизнес-
            <br class="mobshow"><span class="red spinner">процессе, кейсе, предложении</span>
          </h2>
          <form class="contact-form">
            <input class="common-input name" placeholder="Ваше имя">
            <input class="common-input wm phone" placeholder="Телефон для связи"><br>
            <input class="common-input position" placeholder="Должность (не обязательно, но важно)">
            <input class="common-input wm mail" placeholder="Почта, чтобы высылать вам наши предложения"><br>
            <textarea class="common-textarea message" placeholder="Опишите ваш бизнес-процесс"></textarea>
            <button class="write-button submit-button" type="submit" value="Отправить">Отправить</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="js/fullpage.min.js"></script>
    <script>
      new fullpage('#fullpage', {
          //options here
          autoScrolling:true,
          menu: '#menu',
          fixedElements: '.fixed-area',
          scrollHorizontally: false
          /*
          responsiveWidth: 800,
          responsiveHeight: 600
          */
      });
      
      
    </script>
    <script src="js/main.js"></script>
    <script src="js/jquery.simple-text-rotator.js"></script>
  </body>
</html>

pug/index.pug
extends template

block title
    title Napoleon CV

block header
    include ./components/menu
    + menu({menuClass: '', isIndexPage: true, isWhite: false})

block content

    .preloader
        .pr-anim
    //
        .darkner

    img.preload(src="img/1.jpg")
    img.preload(src="img/2.jpg")
    img.preload(src="img/3.jpg")
    img.preload(src="img/4.jpg")

    .fixed-area
        a.logo-link(href="#slide1")
            img.logo(src="img/logo-w.svg")
            img.logo.logo-b(src="img/logo-b.svg")
        a.write-button(href="#slide5") Написать
        nav.main-menu#menu
            ul.main-menu__list
                li.main-menu__item
                    a.main-menu__link.ret(href="#slide2", data-menuanchor="slide2") Retail
                li.main-menu__item
                    a.main-menu__link.tra(href="#slide3", data-menuanchor="slide3") Transport
                li.main-menu__item
                    a.main-menu__link.man(href="#slide4", data-menuanchor="slide4") Manufacturing
                li.main-menu__item
                    a.main-menu__link.bc(href="#slide5", data-menuanchor="slide5") Ваш бизнес-кейс

    #fullpage.fullpage
        .section.screen-1(data-anchor="slide1")
            //
                .darkner
            img.j-arrow(src='img/arrow.svg')
            h1.big-title.title.wow.fadeIn(data-wow-delay="2s")
                | Мы ускоряем
                br
                |
                span.red  бизнес-процессы
                br
                |  с&nbsp;помощью компьютерного
                br
                |  зрения
        .section.screen-2(data-anchor="slide2")
            //
                .darkner
            .block-text.ret-text
                h2.common-title
                    | Retail
                p.common-text.first
                    | Ускоряем
                    |
                    span.red в&nbsp;5&nbsp;раз
                    |
                    | процессы контроля
                    br
                    | выкладки товара

                p.common-text.second
                    | Упрощаем
                    |
                    span.red проверку
                    |
                    | актуальности цен

            p.keywords
                | Ключевые слова:
                |
                span магазин / полка / товар / проверка

        .section.screen-3(data-anchor="slide3")
            //
                .darkner
            .block-text.tr-text
                h2.common-title
                    | Transport
                p.common-text.first
                    | Делаем полную
                    |
                    span.red автоматизацию
                    |
                    |  процессов
                    br
                    |  в&nbsp;транспортной отрасли
                p.common-text.second
                    | Обнаруживаем
                    |
                    span.red Усталость
                    |
                    | водителей
            p.keywords
                | Ключевые слова:
                |
                span препятствие / поток / поезд / номер

        .section.screen-4(data-anchor="slide4")
            //
                .darkner
            .block-text.man-text
                h2.common-title
                    | Manufacturing
                p.common-text.first
                    | Выводим
                    |
                    span.red контроль
                    |
                    |  брака и&nbsp;промышленной
                    br
                    |  безопасности на&nbsp;новый уровень
                p.common-text.second
                    span.red Автоматизируем
                    |
                    |  процессы контроля
                    br
                    |  отклонений в&nbsp;производстве
            p.keywords
                | Ключевые слова:
                |
                span производство / безопасность / качество / нарушения

        .section.screen-5(data-anchor="slide5")
            .form-block
                h2.title.form-title
                    | Расскажите нам
                    br.mobshow
                    |  о&nbsp;своём
                    br
                    |  бизнес-
                    |
                    br.mobshow
                    span.red.spinner процессе, кейсе, предложении

                form.contact-form
                    input.common-input.name(placeholder="Ваше имя")
                    input.common-input.wm.phone(placeholder="Телефон для связи")
                    br
                    input.common-input.position(placeholder="Должность (не обязательно, но важно)")
                    input.common-input.wm.mail(placeholder="Почта, чтобы высылать вам наши предложения")
                    br
                    textarea.common-textarea.message(placeholder="Опишите ваш бизнес-процесс")
                    button.write-button.submit-button(type="submit", value="Отправить") Отправить


    include ./components/scripts
    script(src="js/jquery.simple-text-rotator.js")
